      [Unit]
      Description=Node Exporter Daemon
      After=network.target

      [Service]
      User=root
      ExecStart=/usr/local/bin/node_exporter-1.6.0.linux-amd64/node_exporter
      Restart=always

      [Install]
      WantedBy=multi-user.target